  .mainhr {  border-width: 2px 0;
      margin: 10px 0;
   }

h2 {
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    margin: 16px 0 8px;
    padding: 0 0 0 0px;
}

pre {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px dashed #797979;
    color: #666652;
    font-family: "Courier New";
    line-height: 1.1em;
    overflow: hidden;
    padding: 1em;
    word-break: break-all;
    word-wrap: break-word;
    margin-bottom: 10px;
   }

.api_description{
  padding-left: 40px;
  width: 878px;
  padding-right: 40px;
  margin-bottom: 30px;
}
 