<!doctype html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>项目测试-通用性能测试平台</title>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css">
	<script src="/static/js/jquery-1.9.0.js"></script>
	<script src="/static/js/common.js" type="text/javascript"></script>
	<script src="/static/js/model/cycle/jquery.cycle.all.js" type="text/javascript"></script>
	
	<link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="/static/css/scojs.css" media="screen">
	<link rel="stylesheet" href="/static/css/buttons.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main-list.css">
	<link rel="stylesheet" type="text/css" href="/static/css/api.css">
	<link rel="stylesheet" type="text/css" href="/static/css/public.css">
	<link rel="stylesheet" type="text/css" href="/static/css/gy_css.css">

	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link rel="stylesheet" type="text/css" href="/static/css/about.css">
	<link rel="stylesheet" type="text/css" href="/static/css/my.css">

	<script type="text/javascript" src="/static/js/jquery-1.9.0.js"></script>
	<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	<script type="text/javascript" src="/static/js/sprintf.min.js"></script>
	<script type="text/javascript" src="/static/js/help_panel.js"></script>

	<link href="/static/css/hellotab.css" rel="stylesheet" type="text/css"/>
	<link href="/static/css/helloaddtab.css" rel="stylesheet" type="text/css"/>
	
	<script type="text/javascript" src="/static/js/model/SmartWizard-master/js/jquery.smartWizard-2.0.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/model/SmartWizard-master/styles/smart_wizard.css" />
	
	<script type="text/javascript" src="/static/js/model/flaviusmatis-simplePagination.js-9d0304d/jquery.simplePagination.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/model/flaviusmatis-simplePagination.js-9d0304d/simplePagination.css" />
	
	<script type="text/javascript" src="/static/js/pb.js"></script>
	<script type="text/javascript" src="/static/js/model/dialog/ui.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/model/dialog/ui.css" />
	
</head>
<body>
	<!--标题栏-->
	<div class="header">
		<div class="h_logo"><a href="/pb/" title="通用性能测试平台"><img src="/static/images/qaup_logo.png" alt=""/></a></div>
		<div class="h_nav">
			<span><span id='id_user_name'>{{usrname}}</span>, 欢迎您</span>&nbsp;&nbsp;&nbsp;<span><a href="#"><i class="icon16 icon16-setting"></i>个人中心</a></span>&nbsp;&nbsp;&nbsp;<span><a href="/pb/logout/"><i class="icon16 icon16-power"></i>退出</a></span>
		</div>
	</div>
	
	<!--菜单栏-->
	<div class="nav">
		<ul>
			<li><a href="/pb/">首页</a></li>
			<li class="active"><a href="/pb/test/?testtype=testpjt">项目测试</a></li>
			<li><a href="/pb/conf/?conftype=testsrv">测试配置</a></li>
			<li><a href="/pb/stat/">使用统计</a></li>
			<li><a href="#">帮助</a></li>
		</ul>
	</div>
	
	<div class="content_about">
		<div class="container about_container main-content">
			<div style="position:absolute;width:120px;left:0px;top:0px;bottom:0px;background-color:#fbfbfb;z-index:1">
				<ul style="width:100%;font-family:Microsoft YaHei">
					<li class="left-menu-li"><a href="/pb/test/?testtype=testpjt" style="color:#000;font-size:medium">项目测试</a></li>
					<li class="left-menu-li-select"><a href="/pb/test/?testtype=testdown" style="color:#000;font-size:medium">工具下载</a></li>
				</ul>
				<!--<div style="position:absolute;left:0;bottom:0;top:163px;width:100%;border-right:1px solid #e8e8e8"></div>-->
			</div>

			<div class="div-content">
				<!--<div class="row-fluid row-head" style="height:75px;width:870px;margin-bottom:20px">
					<span class="newtec" style="">上传proto文件：</span>
				</div>
				<div id="fileQueue"></div>
				<input type="file" name="file_upload_1" id="file_upload_1" /><br/>
				<div style="float:left;margin-left:50%;font-size:18px;font-weight:bold;">
					<a href="javascript:$('#file_upload_1').uploadify('upload','*')">开始上传</a>&nbsp;&nbsp;|&nbsp;&nbsp;
					<a href="javascript:$('#file_upload_1').uploadify('cancel','*');">全部取消</a>
				</div>

				<div style="margin-left:15px;margin-top:100px;margin-bottom:40px;width:800px;border-bottom:1px dashed #ccc"></div>-->
				<table align="center" border="0" cellpadding="0" cellspacing="0"> 
					<tbody>
					<tr> 
						<td> 
							<form action="#" method="POST"> 
								<input type="hidden" name="issubmit" value="1" /> 
								<!-- Tabs --> 
								<div id="wizard" class="swMain"> 
									<ul> 
										<li><a href="#step-1"> <label class="stepNumber">1</label> <span class="stepDesc"> 选择工具类型<br /> <small>select the test tool type</small> </span></a> </li> 
										<li><a href="#step-2"> <label class="stepNumber">2</label> <span class="stepDesc"> 选择目标机器<br /> <small>select the target machine</small> </span> </a> </li> 
										<li><a href="#step-3"> <label class="stepNumber">3</label> <span class="stepDesc"> 配置下载路径<br /> <small>configue the download path</small> </span> </a> </li> 
										<!--<li><a href="#step-4"> <label class="stepNumber">3</label> <span class="stepDesc"> 完成<br /> <small>finish your other details</small> </span> </a> </li> -->
									</ul> 
									
									<div id="step-1"> 
										<h2 class="StepTitle">Step 1: select the test tool type</h2> 
										<table cellspacing="3" cellpadding="3" align="center"> 
										<tbody>
										<tr> 
											<td align="center" colspan="3">&nbsp;</td> 
										</tr>
										<tr> 
											<td align="right">工具类型 :</td> 
											<td align="left"> 
												<select id="id_tooltype" name="toottype" class="txtBox" onchange="javascript:handle_select();"> 
													<option value="">-请选择测试工具类型-</option> 
													<option value="pb性能测试工具">pb性能测试工具</option> 
													<option value="http性能测试工具">http性能测试工具</option> 
													<option value="http性能测试工具">pb功能测试工具</option> 
													<option value="http性能测试工具">http功能测试工具</option> 
												</select> 
											</td> 
											<td align="left"><span id="msg_tooltype"></span>&nbsp;</td> 
										</tr>
										<tr id="id_proto_testdata" style="visibility:hidden;">
											<td align="right">proto文件 :</td> 
											<td align="left"> 
												<table class="table table_bordered">
													<thead>
														<tr>
															<th style="padding-top:2px;padding-bottom:2px;">选择</th>
															<th style="padding-top:2px;padding-bottom:2px;">序号</th>
															<th style="padding-top:2px;padding-bottom:2px;">名称</th>
															<th style="padding-top:2px;padding-bottom:2px;">描述</th>
														</tr>
													</thead>
													<tbody id='id_datalist'>
														<!--<tr>
															<td   style="padding-top:2px;padding-bottom:2px;"><input type="radio" name="testdata" value="1" /></td>
															<td   style="padding-top:2px;padding-bottom:2px;">1</td>
															<td  style="padding-top:2px;padding-bottom:2px;">机器名称</td>
															<td  style="padding-top:2px;padding-bottom:2px;">描述一下</td>
														</tr>
														<tr>
															<td   style="padding-top:2px;padding-bottom:2px;"><input type="radio" name="testdata" value="2" /></td>
															<td  style="padding-top:2px;padding-bottom:2px;">1</td>
															<td  style="padding-top:2px;padding-bottom:2px;">机器名称</td>
															<td  style="width:100px;padding-top:2px;padding-bottom:2px;">描述一下</td>
														</tr>
														<tr>
															<td   style="padding-top:2px;padding-bottom:2px;"><input type="radio" name="testdata" value="3" /></td>
															<td  style="padding-top:2px;padding-bottom:2px;">1</td>
															<td  style="padding-top:2px;padding-bottom:2px;">机器名称</td>
															<td  style="padding-top:2px;padding-bottom:2px;">描述一下</td>
														</tr>
														<tr>
															<td   style="padding-top:2px;padding-bottom:2px;"><input type="radio" name="testdata" value="4" /></td>
															<td  style="padding-top:2px;padding-bottom:2px;">1</td>
															<td  style="padding-top:2px;padding-bottom:2px;">机器名称</td>
															<td  style="padding-top:2px;padding-bottom:2px;">描述一下</td>
														</tr>
														<tr>
															<td   style="padding-top:2px;padding-bottom:2px;"><input type="radio" name="testdata" value="5" /></td>
															<td  style="padding-top:2px;padding-bottom:2px;">1</td>
															<td  style="padding-top:2px;padding-bottom:2px;">机器名称</td>
															<td  style="padding-top:2px;padding-bottom:2px;">描述一下</td>
														</tr>-->
													</tbody>
												</table>
											</td>
											<td align="left"><span id="msg_testdata"></span>&nbsp;</td> 
										</tr>
										<!--<tr> 
										<td align="right">Username :</td> 
										<td align="left"> <input type="text" id="username" name="username" value="" class="txtBox" /> </td> 
										<td align="left"><span id="msg_username"></span>&nbsp;</td> 
										</tr> 
										<tr> 
										<td align="right">Password :</td> 
										<td align="left"> <input type="password" id="password" name="password" value="" class="txtBox" /> </td> 
										<td align="left"><span id="msg_password"></span>&nbsp;</td> 
										</tr> 
										<tr> 
										<td align="right">Confirm Password :</td> 
										<td align="left"> <input type="password" id="cpassword" name="cpassword" value="" class="txtBox" /> </td> 
										<td align="left"><span id="msg_cpassword"></span>&nbsp;</td> 
										</tr> -->
										</tbody>
										</table> 
										<div class="list-page" style="float:right;margin-right:20px;">
											<div id='query_id_test_page_list'></div>
											<div class="clear"></div>
										</div>
									</div> 
									<div id="step-2"> 
										<h2 class="StepTitle">Step 2: select the target machine</h2> 
										<table cellspacing="3" cellpadding="3" align="center"> 
										<tbody>
										<tr> 
										<td align="center" colspan="3">&nbsp;</td> 
										</tr> 
										<tr style="visibility:hidden"> 
											<td align="right">工具类型 :</td> 
											<td align="left"> 
												<select id="id_tooltype" name="toottype" class="txtBox" onchange="javascript:handle_select();"> 
													<option value="">-请选择测试工具类型-</option> 
													<option value="pb性能测试工具">pb性能测试工具</option> 
													<option value="http性能测试工具">http性能测试工具</option> 
													<option value="http性能测试工具">pb功能测试工具</option> 
													<option value="http性能测试工具">http功能测试工具</option> 
												</select> 
											</td> 
											<td align="left"><span id="msg_tooltype"></span>&nbsp;</td> 
										</tr>
										<tr id="id_testsrv">
											<td align="right">目的服务器 :</td> 
											<td align="left"> 
												<table class="table table_bordered">
													<thead>
														<tr>
															<th style="padding-top:2px;padding-bottom:2px;">选择</th>
															<th style="padding-top:2px;padding-bottom:2px;">序号</th>
															<th style="padding-top:2px;padding-bottom:2px;">名称</th>
															<th style="padding-top:2px;padding-bottom:2px;">IP</th>
															<th style="padding-top:2px;padding-bottom:2px;">描述</th>
														</tr>
													</thead>
													<tbody id='id_serverlist'>
														<!--<tr>
															<td   style="padding-top:2px;padding-bottom:2px;"><input type="radio" name="testdata" value="1" /></td>
															<td   style="padding-top:2px;padding-bottom:2px;">1</td>
															<td  style="padding-top:2px;padding-bottom:2px;">机器名称</td>
															<td  style="padding-top:2px;padding-bottom:2px;">描述一下</td>
														</tr>
														<tr>
															<td   style="padding-top:2px;padding-bottom:2px;"><input type="radio" name="testdata" value="2" /></td>
															<td  style="padding-top:2px;padding-bottom:2px;">1</td>
															<td  style="padding-top:2px;padding-bottom:2px;">机器名称</td>
															<td  style="width:100px;padding-top:2px;padding-bottom:2px;">描述一下</td>
														</tr>
														<tr>
															<td   style="padding-top:2px;padding-bottom:2px;"><input type="radio" name="testdata" value="3" /></td>
															<td  style="padding-top:2px;padding-bottom:2px;">1</td>
															<td  style="padding-top:2px;padding-bottom:2px;">机器名称</td>
															<td  style="padding-top:2px;padding-bottom:2px;">描述一下</td>
														</tr>
														<tr>
															<td   style="padding-top:2px;padding-bottom:2px;"><input type="radio" name="testdata" value="4" /></td>
															<td  style="padding-top:2px;padding-bottom:2px;">1</td>
															<td  style="padding-top:2px;padding-bottom:2px;">机器名称</td>
															<td  style="padding-top:2px;padding-bottom:2px;">描述一下</td>
														</tr>
														<tr>
															<td   style="padding-top:2px;padding-bottom:2px;"><input type="radio" name="testdata" value="5" /></td>
															<td  style="padding-top:2px;padding-bottom:2px;">1</td>
															<td  style="padding-top:2px;padding-bottom:2px;">机器名称</td>
															<td  style="padding-top:2px;padding-bottom:2px;">描述一下</td>
														</tr>-->
													</tbody>
												</table>
											</td>
											<td align="left"><span id="msg_testsrv"></span>&nbsp;</td> 
										</tr>
										<!--<tr> 
										<td align="right">First Name :</td> 
										<td align="left"> <input type="text" id="firstname" name="firstname" value="" class="txtBox" /> </td> 
										<td align="left"><span id="msg_firstname"></span>&nbsp;</td> 
										</tr> 
										<tr> 
										<td align="right">Last Name :</td> 
										<td align="left"> <input type="text" id="lastname" name="lastname" value="" class="txtBox" /> </td> 
										<td align="left"><span id="msg_lastname"></span>&nbsp;</td> 
										</tr> 
										<tr> 
										<td align="right">Gender :</td> 
										<td align="left"> <select id="gender" name="gender" class="txtBox"> <option value="">-select-</option> <option value="Female">Female</option> <option value="Male">Male</option> </select> </td> 
										<td align="left"><span id="msg_gender"></span>&nbsp;</td> 
										</tr> -->
										</tbody>
										</table> 
										<div class="list-page" style="float:right;margin-right:20px;">
											<div id='query_id_testsrv_page_list'></div>
											<div class="clear"></div>
										</div>
									</div> 
									<div id="step-3"> 
										<h2 class="StepTitle">Step 3: configue the download path</h2> 
										<table cellspacing="3" cellpadding="3" align="center"> 
										<tbody>
										<tr> 
										<td align="center" colspan="3">&nbsp;</td> 
										</tr> 
										<tr> 
										<td align="right">下载路径 :</td> 
										<td align="left"> <input type="text" id="id_path" name="path" value="" class="txtBox" /></td>
										<td align="left"><span id="msg_path"></span>&nbsp;</td> 
										</tr> 
										<tr> 
										<td align="right">&nbsp;</td> 
										<td align="center"> <div id="id_loading" style="visibility:hidden"><img src="/static/loading.gif"/><br/>下载中 , 请稍候...</div> </td> 
										<td align="left"><span id="msg_phone"></span>&nbsp;</td> 
										</tr> 
										<!--<tr> 
										<td align="right">Address :</td> 
										<td align="left"> <textarea name="address" id="address" class="txtBox" rows="3"></textarea> </td> 
										<td align="left"><span id="msg_address"></span>&nbsp;</td> 
										</tr> -->
										</tbody>
										</table> 
									</div> 
									<!--<div id="step-4"> 
										<h2 class="StepTitle">Step 4: Other Details</h2> 
										<table cellspacing="3" cellpadding="3" align="center"> 
										<tbody>
										<tr> 
										<td align="center" colspan="3">&nbsp;</td> 
										</tr> 
										<tr> 
										<td align="right">Hobbies :</td> 
										<td align="left"> <input type="text" id="phone" name="phone" value="" class="txtBox" /> </td> 
										<td align="left"><span id="msg_phone"></span>&nbsp;</td> 
										</tr> 
										<tr> 
										<td align="right">About You :</td> 
										<td align="left"> <textarea name="address" id="address" class="txtBox" rows="5"></textarea> </td> 
										<td align="left"><span id="msg_address"></span>&nbsp;</td> 
										</tr> 
										</tbody>
										</table> 
									</div>-->
								</div> 
							<!-- End SmartWizard Content --> 
							</form> 
						</td>
					</tr> 
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="home_foot" style="float:left;">
		<p>Copyright ©2014 Baidu. All Rights Reserved.
		</p>
		<p>
		百度 LBS 测试 版权所有
		</p>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			// Smart Wizard
			$('#wizard').smartWizard({
				transitionEffect: 'slideleft',
				onLeaveStep: leaveAStepCallback,
				onFinish: onFinishCallback,
				enableFinishButton: true
			});
			//dis test data table and page list
			var retdata=query_testdata(1,0);
			dis_datalist(retdata,0);
			//dis_pagelist(retdata.data_totalcnt,5,1);
			//dis table
			handle_select();
			
			//dis test srv
			var retdata=query_server(1);
			dis_serverlist(retdata,0);
			dis_pagelist_srv(retdata.server_totalcnt,5,1);
			
			
			function leaveAStepCallback(obj) {
				var step_num = obj.attr('rel');
				if (step_num == 2) {
					var testsrv=$("input[name='testsrv']:checked").val();
					workspace=query_server_workspace(testsrv);
					document.getElementById('id_path').value=workspace;
				}
				return validateSteps(step_num);
			}

			function onFinishCallback() {
				if (validateAllSteps()) {
					//$('form').submit();
					$('div .buttonFinish').addClass("buttonDisabled");
					var toottype = document.getElementById('id_tooltype').selectedIndex;
					download_testtool(toottype);
					$('div .buttonFinish').removeClass("buttonDisabled");
				}
			}
		});
		function validateAllSteps() {
			var isStepValid = true;
			if (validateStep1() == false) {
				isStepValid = false;
				$('#wizard').smartWizard('setError', {
					stepnum: 1,
					iserror: true
				});
			} else {
				$('#wizard').smartWizard('setError', {
					stepnum: 1,
					iserror: false
				});
			}

			if (validateStep2() == false) {
				isStepValid = false;
				$('#wizard').smartWizard('setError', {
					stepnum: 3,
					iserror: true
				});
			} else {
				$('#wizard').smartWizard('setError', {
					stepnum: 3,
					iserror: false
				});
			}
			if (!isStepValid) {
				$('#wizard').smartWizard('showMessage', 'Please correct the errors in the steps and continue');
			}
			return isStepValid;
		}

		function validateSteps(step) {
			var isStepValid = true;
			// validate step 1
			if (step == 1) {
				if (validateStep1() == false) {
					isStepValid = false;
					$('#wizard').smartWizard('showMessage', 'Please correct the errors in step' + step + ' and click next.');
					$('#wizard').smartWizard('setError', {
						stepnum: step,
						iserror: true
					});
				} else {
					$('#wizard').smartWizard('setError', {
						stepnum: step,
						iserror: false
					});
				}
			}

			// validate step2
			if (step == 2) {
				if (validateStep2() == false) {
					isStepValid = false;
					$('#wizard').smartWizard('showMessage', 'Please correct the errors in step' + step + ' and click next.');
					$('#wizard').smartWizard('setError', {
						stepnum: step,
						iserror: true
					});
				} else {
					$('#wizard').smartWizard('setError', {
						stepnum: step,
						iserror: false
					});
				}
			}
			return isStepValid;
		}

		function validateStep1() {
			var isValid = true;
			// Validate toottype
			var toottype = document.getElementById('id_tooltype').selectedIndex;
			if (toottype == 0) {
				isValid = false;
				$('#msg_tooltype').html('please select the test tool type !').show();
			} /*else if (toottype == 2 || toottype == 4) {
				isValid = false;
				$('#msg_tooltype').html('the test tool type is not supported currently !').show();
			}*/ else {
				$('#msg_tooltype').html('').hide();
			}
			var testdata=$("input[name='testdata']:checked").val();
			//alert(testdata);
			if (typeof testdata == "undefined") {
				isValid = false;
				$('#msg_testdata').html('please add the test data first !').show();
			} else {
				$('#msg_testdata').html('').hide();
			}
			//if ()
			//alert(sex);
			/*// validate password
			var pw = $('#password').val();
			if (!pw && pw.length <= 0) {
				isValid = false;
				$('#msg_password').html('Please fill password').show();
			} else {
				$('#msg_password').html('').hide();
			}

			// validate confirm password
			var cpw = $('#cpassword').val();
			if (!cpw && cpw.length <= 0) {
				isValid = false;
				$('#msg_cpassword').html('Please fill confirm password').show();
			} else {
				$('#msg_cpassword').html('').hide();
			}

			// validate password match
			if (pw && pw.length > 0 && cpw && cpw.length > 0) {
				if (pw != cpw) {
					isValid = false;
					$('#msg_cpassword').html('Password mismatch').show();
				} else {
					$('#msg_cpassword').html('').hide();
				}
			}*/
			return isValid;
		}

		function validateStep2() {
			var isValid = true;
			var testsrv=$("input[name='testsrv']:checked").val();
			//alert(testdata);
			if (typeof testsrv == "undefined") {
				isValid = false;
				$('#msg_testsrv').html('please add the test data first !').show();
			} else {
				$('#msg_testsrv').html('').hide();
			}
			//validate email  email
			/*var email = $('#email').val();
			if (email && email.length > 0) {
				if (!isValidEmailAddress(email)) {
					isValid = false;
					$('#msg_email').html('Email is invalid').show();
				} else {
					$('#msg_email').html('').hide();
				}
			} else {
				isValid = false;
				$('#msg_email').html('Please enter email').show();
			}*/
			
			return isValid;
		}

		// Email Validation
		function isValidEmailAddress(emailAddress) {
			var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
			return pattern.test(emailAddress);
		}
	</script>
</body>
</html>
