#myslide 
{
  background-color:#f8f8f8;
}

.about_title_div{
	height:50px;
}
.about_title {
	font-size:16px;
	font-weight:500;
	color:#666666;
	margin-left: 65px;	
	margin-bottom: 25px;
}

#content_about {
	//background-color:#f8f8f8;
}

#littlefont{
 font-size:12px;
 font-weight:400;
 color:#979797;
 margin-left: 65px;
 margin-bottom: 50px;
 line-height: 1.5;
 width:870px;
}

.rowundermenu {
  display:block;
  background-image: url("../../image/idl/about_backgroud.png");
  background-repeat: repeat-x;
 }
 
 #myinsert
 {
 	height: 45px;
 	//background-color:#f8f8f8;
 }
#littlefont img{
	margin: 30px auto; 
	display:block;
}
#littlefont h1{
        margin:30px 0px;
}
.row-fluid p{

	text-indent:20px;
	line-height:18px;
	margin-bottom:5px
}
