<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.tikal.hudson.plugins.notification.HudsonNotificationProperty plugin="notification@1.7">
      <endpoints>
        <com.tikal.hudson.plugins.notification.Endpoint>
          <protocol>HTTP</protocol>
          <format>JSON</format>
          <url>http://10.48.55.39:8889/pb/jenkins/status/</url>
          <event>all</event>
          <timeout>30000</timeout>
        </com.tikal.hudson.plugins.notification.Endpoint>
      </endpoints>
    </com.tikal.hudson.plugins.notification.HudsonNotificationProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>UNIQUE_ID</name>
          <description>	必填。Job唯一ID标识。默认：1。</description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ProtoFileSVNPath</name>
          <description>必填。proto文件的svn路径，如：https://svn.baidu.com/app-test/search/lbs-stat/trunk/upps_test/jenkinsFramework/protobuf/proto。</description>
          <defaultValue>https://svn.baidu.com/app-test/search/lbs-stat/trunk/upps_test/jenkinsFramework/protobuf/proto</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>IPPort</name>
          <description>必填。目标机器IP以及SSH端口，如：10.48.55.39:22。</description>
          <defaultValue>10.48.55.39:22</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>UserName</name>
          <description>必填。目标机器登录用户名。如：yangjun03。</description>
          <defaultValue>yangjun03</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>PassWord</name>
          <description>必填。目标机器登录密码。</description>
          <defaultValue>jCA7Hq+1f6iEWZtwZ3u1Tw==</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>ToolType</name>
          <description>必填。测试工具类型(功能 : pbrpcclient, 性能 : pbrpcbenchmark)。如：pbrpcclient。</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>pbrpcclient</string>
              <string>pbrpcbenchmark</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RemotePath</name>
          <description>必填。目标路径。如：/home/users/yangjun03/workspace。</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>svn co ${ProtoFileSVNPath} . &amp;&amp; cp *.proto /home/users/yangjun03/protobuf/workspace/app-test/search/lbs-stat/upps_test/jenkinsFramework/protobuf/proto &amp;&amp; cd /home/users/yangjun03/protobuf/workspace/app-test/search/lbs-stat/upps_test/jenkinsFramework/protobuf/proto &amp;&amp; ./build.sh &amp;&amp; cd .. &amp;&amp; comake2 &amp;&amp; make &amp;&amp; python upload.py ${IPPort} ${UserName} ${PassWord} ${ToolType} ${RemotePath}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>